<h2>About Will</h2>
<p>Current SE <a href="https://twitter.com/Hacker0x01">@Hacker0x01</a>.
  Absorbing as much infosec knowledge as I can.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/wkapcio">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-code main-list-item-icon"></span>
    <a href="https://hackerone.com/whiskey_kilo">HackerOne</a>
  </li>
  <li class="main-list-item">
    <span class="fas fa-cube main-list-item-icon"></span>
    <a href="https://www.hackthebox.eu/profile/245928">HackTheBox</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/whiskeykilo">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/wkapcio">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-keybase fa-lg main-list-item-icon"></span>
    <a href="https://keybase.io/wkapcio">Keybase</a>
  </li>
</ul>
