<h2>About Will (WhiskeyKiloSec)</h2>
<p>SE at <a href="https://twitter.com/Hacker0x01">@Hacker0x01</a>.
  2x <a href="https://twitter.com/VillanovaU">@VillanovaU</a> Wildcat.
  I keep secrets from my computer.</p>

<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span align="center" class="fab fa-lg filter-gray">
      <img src="images/protonmail.svg" height="19" width="36"/>
    </span>
    <a href="mailto:whiskeykilosec@protonmail.com">Email</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/wkapcio">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fab fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/whiskeykilosec">Twitter</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fab fa-lg filter-gray">
      <img src="images/hackerone.svg" height="19" width="36"/>
    </span>
    <a href="https://hackerone.com/whiskeykilosec">HackerOne</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fas fa-cube fa-lg main-list-item-icon"></span>
    <a href="https://www.hackthebox.eu/profile/245928">Hack the Box</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fab fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/whiskeykilosec">GitHub</a>
  </li>
</ul>