<h2>About Will (0xwhiskeykilo)</h2>
<p>SE at <a href="https://twitter.com/Hacker0x01">@Hacker0x01</a>.
  2x <a href="https://twitter.com/VillanovaU">@VillanovaU</a> Wildcat.
  I keep secrets from my computer.</p>

<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span align="center" class="fab fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/0xwhiskeykilo">Twitter</a>
  </li>
  <li class="main-list-item">
    <!--span class="fa fa-code main-list-item-icon"></span>-->
    <span align="center" class="fab fa-lg filter-gray">
      <img src="images/hackerone.svg" height="19" width="36"/>
    </span>
    <!--img align="center" src="https://hackerone.com/favicon.ico" alt="HackerOne"/>-->
    <a href="https://hackerone.com/0xwhiskeykilo">HackerOne</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fas fa-cube fa-lg main-list-item-icon"></span>
    <a href="https://www.hackthebox.eu/profile/245928">HackTheBox</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fab fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/0xwhiskeykilo">GitHub</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/wkapcio">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span align="center" class="fab fa-keybase fa-lg main-list-item-icon"></span>
    <a href="https://keybase.io/0xwhiskeykilo">Keybase</a>
  </li>
</ul>