---
--- 

html {
	--text-color: #2B303A;
	--anchor-text-color: #D64933;
	--background-color: #BAC1B8;
}

@media (prefers-color-scheme: dark) {
	html {
		--text-color: #BAC1B8;
		--anchor-text-color: #D64933;
		--background-color: #2B303A;
	}
}

@font-face {
	font-family: "Source Code Pro";
	src: url("../assets/fonts/SourceCodePro-Regular.otf");
	src: url("../assets/fonts/SourceCodePro-Regular.ttf");
  }

body {
	font-family: "Source Code Pro", monospace;
	color: var(--text-color);
	background-color: var(--background-color);
}

header,
main {
	padding: 0 20px;
	text-align: center;
}

/*** wrapper div for both header and main ***/
.wrapper {
	margin-top: 10%;
}

/*** anchor tags ***/
a:link,
a:visited,
a:hover,
a:active {
	color: var(--anchor-text-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.filter-gray {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-size: 1.33333em;
	line-height: .75em;
	vertical-align: -.0667em;
	filter: invert(21%) sepia(12%) saturate(551%) hue-rotate(7deg) brightness(102%) contrast(84%);
}

/* list icons */
.site-link {
	text-decoration: none;
	border: 0;
	width: 36px;
	height: 36px;
	padding: 2px;
	margin: 5px;
	color: var(--background-color);
	border-radius: 35%;
	background-color: var(--text-color);
}

/* list icons */
.svg-icon {
	display: block;
	fill: var(--background-color);
}

.svg-icon:hover {
	fill: var(--anchor-text-color);
  }

/*** logo ***/
.logo-container {
	text-align: center;
}

.logo {
	width: 96px;
	height: 96px;
	display: inline-block;
	background-size: cover;
	border-radius: 50%;
	-moz-border-radius: 50%;
	border: 2px solid var(--background-color);
	box-shadow: 0 0 0 3px var(--text-color);
}

/*** author ***/
.author-container h1 {
	font-size: 2.8em;
	margin-top: 1;
	margin-bottom: 0;
	text-align: center;
}

/*** tagline ***/
.tagline-container p {
	font-size: 1.3em;
	text-align: center;
}

/*** location ***/
.location-container p {
	font-size: 1.0em;
	text-align: center;
	margin-bottom: 2em;
}

/******/
hr {
	border: 0.1em;
	color: var(--text-color);
	border-style: dashed;
}

/*** footer ***/
#wrap {
	position: relative;
	text-align: center;
	width: 100%;
	bottom: 0;
}

#footer {
	position: relative;
	text-align: center;
	font-size: 0.75em;
	width: 100%;
	bottom: -125px;
	color: var(--text-color);
}

/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: 480px) {

	/* wrapper stays 480px wide past 480px wide and is kept centered */
	.wrapper {
		width: 480px;
		margin: 10% auto 0 auto;
	}
}